CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
*.cmake
*.pc
*.so
*.swp
*~
examples/ble_scan/ble_scan
examples/discover/discover
examples/gatttool/gatttool
examples/hackoort/hackoort
examples/read_write/read_write
